alias ssh-rpi="ssh pi@raspberrypi"
alias ssh-gpu="ssh louis@86.211.246.69 -i ~/.ssh/id_rsa"
alias ssh-gpu2="ssh louis@gpu2"

function kcxbash() { kubectl exec -ti $@ bash; }

alias myip="python3 -c 'import socket; print([l for l in ([ip for ip in socket.gethostbyname_ex(socket.gethostname())[2] if not ip.startswith(\"127.\")][:1], [[(s.connect((\"8.8.8.8\", 53)), s.getsockname()[0], s.close()) for s in [socket.socket(socket.AF_INET, socket.SOCK_DGRAM)]][0][1]]) if l][0][0])'"

# MacOS
if [[ "$OSTYPE" == "darwin"* ]]; then
    alias list_ports="netstat -anvp tcp | awk 'NR<3 || /LISTEN/'"
fi

alias k="kubectl"
complete -F __start_kubectl k
