# popcorn-time
alias pop=popcorn-time

# obsidian
alias obsidian=$HOME/binaries/Obsidian*

# unity
alias u3=$HOME/binaries/UnityHub*

#KDASH_URL="http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/"
#alias kdash="(kubectl version > /dev/null 2>&1 && echo $KDASH_URL && kubectl -n kubernetes-dashboard describe secret $(kubectl -n kubernetes-dashboard get secret | grep admin-user | awk '{print $1}') && kubectl proxy) || echo 'Your k8s cluster isnt running'"
#
alias rpi="ssh louis@rpi-louis030195"
alias ksfi="ssh debian@91.121.67.56"

alias k8srpi="export KUBECONFIG=/home/louis/.kube/rpi.yaml"
alias k8sfi="export KUBECONFIG=/home/louis/.kube/ksfi.yaml"

function kcxbash() { kubectl exec -ti $@ bash; }

# Video
# https://unix.stackexchange.com/questions/28803/how-can-i-reduce-a-videos-size-with-ffmpeg
function vred() { ffmpeg -i $1 -vcodec libx265 -crf 28 small-$1; }
# video to markdown-style gif
#function vgif() { ffmpeg -i $1 -vf "fps=7,scale=640:-1:flags=lanczos,split[s0][s1];[s0]palettegen[p];[s1][p]paletteuse" -loop 0 $2 }
