#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Prompt style fg;txtformat(0, 1, 4);bg
export PS1='\u@\h:\w$ '

# Binaries
export PATH=$PATH:$HOME/binaries

# Rust
export PATH=$PATH:$HOME/.cargo/bin

# Docker (buildx)
export DOCKER_CLI_EXPERIMENTAL=enabled

# MacOS
if [[ "$OSTYPE" == "darwin"* ]]; then
    export PATH="/opt/homebrew/bin:$PATH"
    eval "$(/opt/homebrew/bin/brew shellenv)"

    export PATH="/opt/homebrew/opt/python@3.8/bin:$PATH"
    export LDFLAGS="-L/opt/homebrew/opt/python@3.8/lib"
    export PKG_CONFIG_PATH="/opt/homebrew/opt/python@3.8/lib/pkgconfig"
    # https://apple.stackexchange.com/questions/371997/suppressing-the-default-interactive-shell-is-now-zsh-message-in-macos-catalina
    export BASH_SILENCE_DEPRECATION_WARNING=1
    # gnu sed on mac https://gist.github.com/andre3k1/e3a1a7133fded5de5a9ee99c87c6fa0d
    export PATH="/opt/homebrew/opt/gnu-sed/libexec/gnubin:$PATH"

    export PKG_CONFIG_PATH="/opt/homebrew/lib/pkgconfig/:$PKG_CONFIG_PATH"

    export PATH="/Users/louisbeaumont/.bun/bin:$PATH"
else
    # Linux GPU
    gpu=$(lspci || "no gpu" | grep -i '.* vga .* nvidia .*')

    shopt -s nocasematch

    if [[ $gpu == *' nvidia '* ]]; then
        export PATH="/usr/local/cuda-11.5/bin${PATH:+:${PATH}}"
        export LD_LIBRARY_PATH="/usr/local/cuda-11.5/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}"
    fi
fi
