#!/usr/bin/env bash

# Make vim the default editor.
export EDITOR='vim';

# Prompt style fg;txtformat(0, 1, 4);bg
export PS1='\u@\h:\w$ '

# k8s
export KUBECONFIG=$HOME/.kube/rpi.yaml

# go
export PATH=$PATH:/usr/local/go/bin
export PATH=$PATH:$HOME/go/bin

# Binaries
export PATH=$PATH:$HOME/binaries

# Rust
export PATH=$PATH:$HOME/.cargo/bin

# Arkade
export PATH=$PATH:$HOME/.arkade/bin/

# Docker (buildx)
export DOCKER_CLI_EXPERIMENTAL=enabled
